<%
  published ||= false
  last_updated ||= false
  from ||= false
%>
<div class="app-c-content-metadata">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render 'components/published-dates', published: published, last_updated: last_updated %>
      <% if from %>
        <div class="app-c-content-metadata_from">From: <%= from.to_sentence.html_safe %></div>
      <% end %>
    </div>
  </div>
</div>
