<% last_updated ||= false %>
<div class="app-c-published-dates">
  Published <%= published %>

  <% if last_updated %>
    <br />Last updated <%= last_updated %> &mdash; <a href="#">See all updates</a>
  <% end %>
</div>
