<% lead_paragraph ||= false %>
<% last_updated ||= false %>
<% published ||= '' %>

<div class="app-c-title-block">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render 'govuk_component/title', { title: title } %>

      <% if lead_paragraph %>
        <%= render 'govuk_component/lead_paragraph', { text: lead_paragraph } %>
      <% end %>
    </div>
  </div>

  <hr />

  <%= render 'components/published-dates', { published: published, last_updated: last_updated } %>
</div>
