$contents-list-indent-gutter: .4em;
$contents-list-indent-width: $contents-list-indent-gutter + 1em;
$content-list-item-padding: 4px;


.contents-list-header {
  margin-bottom: 5px;
}
.contents-list {
  line-height: normal;
}

.contents-list li {
  font-weight: normal;
  list-style-type: disc;
  margin-left: $contents-list-indent-width;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 1px) { // target modern browsers
    list-style-type: none;

    &:before {
      content: "\2014";
      float: left;
      margin-right: $contents-list-indent-gutter;
      margin-left: $contents-list-indent-width * -1;
      padding-top: $content-list-item-padding;
      padding-bottom: $content-list-item-padding;
    }
  }
}

// Remove underlines from lists of links
// to improve legibility
.contents-list a {
  display: block;
  margin-bottom: $gutter / 6;
  text-decoration: none;

  padding-top: $content-list-item-padding;
  padding-bottom: $content-list-item-padding;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.contents-list-nested {
  margin-bottom: $gutter-two-thirds;
}

.contents-list-nested li {
  margin-left: 0;
}

.contents-list-nested > li {
  font-weight: bold;
  margin-left: $contents-list-indent-width;
}
