<% section = @content_item.is_section? %>
<aside class="page-navigation-container" role="complementary">
  <nav role="navigation" class="page-navigation" aria-label="parts to this guide">

    <ol class="grid-row">
      <% if @content_item.summary.present? %>
      <li class="column-half">
        <% if section %>
        <a title="Summary" href="/foreign-travel-advice/turkey">
        <% end %>

        <%= @content_item.summary %>

        <% if section %>
        </a>
        <% end %>
      </li>
      <% end %>
      <% @content_item.subsections.each do |subsection| %>
      <li class="column-half">
          <%= link_to_unless_current subsection["title"], subsection["link"] %>
      </li>
      <% end %>
    </ol>

  </nav>
  <% if @content_item.show_subscriptions? %>

    <section class="subscriptions">
      <h1 class="visuallyhidden">Subscriptions</h1>
      Get updates
      <ul>
        <li>
          <a
            class="email-alerts"
            title="Subscribe to email alerts"
            href="/foreign-travel-advice/egypt/email-signup"
          >email</a>
        </li>
        <li>
          <a
            class="feed"
            title="Subscribe via RSS"
            href="/foreign-travel-advice/egypt.atom"
          >feed</a>
        </li>
      </ul>
    </section>
  <% end %>
</aside>
