<% if contents.any? %>
  <nav role="navigation">
    <h1 class="contents-list-header"><%= t("content_item.contents") %>:</h1>
    <%= render 'shared/contents_list', contents: contents %>
  </nav>
<% end %>
