<% content_for :no_breadcrumbs, true %>

<%= form_tag("/", method: "get") do %>
  <fieldset>
    <legend>
      <%= render 'govuk_component/title', title: @content_item.title %>
    </legend>
    <%= render 'govuk_component/govspeak', content: '<p>[Description]</p>' %>

    <p>[Radio components go here]</p>

    <%= render 'govuk_component/button', text: 'Continue' %>
  </fieldset>
<% end %>
