<% content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', title: @content_item.title %>
  </div>
</div>

<%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
