<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, @content_item.title %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render partial: "govuk_component/title", locals: {
          title: @content_item.country,
          context: "Foreign travel advice"
    } %>
  </div>
</div>

<%= render 'shared/description', description: @content_item.description %>
