.app-c-navigation-sidebar {
  border-top: 2px solid $govuk-blue;

  h2 {
    @include bold-19;
    margin-bottom: $gutter-one-third;
    margin-top: $gutter;
  }

  .navigation-group {
  }

  h2 + .navigation-group {
    border-top: 0;
  }

  h3 {
    border-top: 1px solid $border-colour;
    padding-top: $gutter-half;
  }

  h2 + h3 {
    border-top: 0;
    padding-top: 0;
  }

  .navigation-links {
    list-style: none;
    margin-bottom: $gutter;

    li {
      margin-bottom: $gutter-half;
    }

    a {
      display: block;
      text-decoration: none;

      @include bold-19;
    }
  }

  .related-list {
    list-style: none;
    margin-top: $gutter-one-third;
    margin-bottom: $gutter;

    li {
      margin-bottom: $gutter-one-third;
    }

    a {
      text-decoration: none;
    }
  }

  .collection-list {
    list-style: none;
    margin-top: $gutter-one-third;
    margin-bottom: $gutter;

    li {
      margin-bottom: $gutter-one-third;
    }

    a {
      text-decoration: none;
    }
  }
}
