.app-c-navigation-sidebar {
  h2 {
    @include bold-19;
    margin-bottom: $gutter-one-third;
  }

  .navigation-group {
    border-top: 2px solid $govuk-blue
  }

  .navigation-links {
    list-style: none;
    margin-top: $gutter-one-third;
    margin-bottom: $gutter;

    li {
      margin-bottom: $gutter-half;
    }

    a {
      display: block;
      text-decoration: none;

      @include bold-19;

      span {
        @include core-16;
        color: $text-colour;
        display: block;
      }
    }
  }

  .related-list {
    list-style: none;
    margin-top: $gutter-one-third;
    margin-bottom: $gutter;

    li {
      margin-bottom: $gutter-one-third;
    }
  }

  .collection-list {
    list-style: none;
    margin-top: $gutter-one-third;
    margin-bottom: $gutter;

    li {
      margin-bottom: $gutter-one-third;
    }
  }
}
