.govuk-contents-list {
  &__item {
    list-style: none;
  }
  &__link {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    line-height: 1.25;
  }

  &__item--level-1 {
    font-weight: bold;
  }

  &__item--level-2 &__link {
    padding-left: 1em;
    &:before {
      content: "\2013";
      float: left;
      margin-left: -1em;
    }
  }
}
